.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  padding: 8px 0;
}

.footer span {
  text-align: center;
  padding: 4px;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
  }
}
